# Compilation object
build/
.gradle/

# Android Studio / IntelliJ settings
.idea/
*.iml
*.ipr
*.iws

# Local properties
local.properties

# SO Files
.DS_Store
Thumbs.db

# Screenshots and profiles
/captures/
.externalNativeBuild/
.cxx/

# Credentials
**/google-services.json